.search-box{
  width: 20rem;
  height: 2.5rem;
  border-radius: 5rem;
  margin-top: 2rem;
  margin-left: 4rem;
  outline: none;
  text-align: center;
  font-size: 18px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 0rem 0rem 0.8rem rgb(54, 54, 71);;
  border: none;
}
button{
  display: block;
  margin: 0.8rem auto;
  width: 12rem;
  cursor: pointer;
  height: 2rem;
  border-radius: 5rem;
  border: none;
  color: rgb(14, 13, 13);
  box-shadow: 0rem 0rem 0.8rem rgb(77, 60, 60);
  font-size: 1.15rem;
  font-family:cursive;
  background-color: rgb(248, 232, 2);

}
button:hover{
  box-shadow: 0rem 0rem 4rem rgb(77, 60, 60);
}
.search-box:hover{
  box-shadow: 0rem 0rem 10rem rgb(241, 238, 238);
}